---
layout: post
title: "Introducing the Center for Digital Economy Technology Innovation: Driving Collaboration and Innovation in Data Science"
subtitle: "Fostering partnerships between educators, industry, and academia in the School of Data Science at Chinese University of Hong Kong, ShenZhen"
tags: []
categories: [News]
comments: true
---